.stormtrooper{
    height: 500px;
}
.starwars{
    height: 15%;
}
.millenniumfalcon{
    height: 500px;
}
.navbar{
    border-bottom: 1px solid #42454B;
}
.row{
    align-items:stretch ;
    max-height: 500px;
    margin:0;
    padding: 0;
}
.col-1{
    top:200px;
}
.col-2{
    margin:0;
    padding: 0;
    top:20px;
}
#divScroll{
    overflow: auto;
    max-height: 500px;
    top:20px;
}
.title-left{
    text-align: left;
}
